body{
    margin:0;
    padding:0;
    font-family:Poppins;
    background-color: #000;
}
.navbar{
    bottom: 0;
  /*  position: fixed;*/
    display: flex;
    font-size: 25px;
    padding:0px;
    padding-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:  lightslategray;
    width: 100%;
    height: fit-content;
    z-index: 1;
    list-style: none;
    
}
.top-nav {
    position: fixed;
    top: 0;
}

.bottom-nav {
    position: absolute;
    bottom: 0;
    
}
a{
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}
.intro{
    color: lightgoldenrodyellow;
    display: none;
    z-index: 5;
}
.social{
   margin: 0%;
   color: skyblue;
   text-transform: none;

}
#social a:hover{
    color: wheat;

}
.hover  a:hover{
    color: grey;
   
}
a:hover{
    color: lightgray; 
}

a:active{
    color:whitesmoke;
}
.banner-area{
    
    position: relative;
    background-image: url(swati_banner.png)  ;
    width:100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.about-area, .port-area,
 .services-area, .contact-area {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 700px;
}
.text-part{
    width: 65%;
    height: 80%;
    overflow: auto;
}
h1{
    font-size: 50px;
    font-family: cursive;
}
p{
    font-size:24px;
    line-height: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.skillist{
    font-size:24px;
    line-height: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.skillist a:hover{
    color: darkslateblue;
    text-decoration: underline lightslategray;
}
.about-area, .services-area{
    background-color: #fefefe;
}

.port-area, .contact-area{
    background-color: #262626;
    color: lightgrey;
}
html{
    scroll-behavior: smooth;
}

@media screen and (max-width: 992px) {
    .banner-area {
      background-color: lightgoldenrodyellow;
      background-image: none;
    }
    .intro{
        color: black;
       display: block;
       height: 100vh;
       width: 100vw;
       font-family: cursive;
    }
    .nav-bar{
        font-size: 18px;
    }
    h1{
        font-size: 22px;
    }
    p{
        font-size: 16px;
    }
    .skillist{
        font-size: 16px;
    }
 #project{
     list-style: none;
     line-height: normal;

 }
 #project a{
     text-decoration: bold underline;
 }
  }